<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseLib" version="1.6.0.409" targetFramework="net461" />
  <package id="BaseLibS" version="1.6.0.409" targetFramework="net461" />
  <package id="Microsoft.Windows.Shell" version="3.0.1.0" targetFramework="net461" />
  <package id="PerseusApi" version="1.6.0.345" targetFramework="net461" />
  <package id="PluginInterop" version="1.6.2.10" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>