<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseLib" version="1.6.0.310" targetFramework="net461" />
  <package id="BaseLibS" version="1.6.0.310" targetFramework="net461" />
  <package id="PerseusApi" version="1.6.0.225" targetFramework="net461" />
  <package id="PluginInterop" version="1.6.0.34" targetFramework="net461" />
</packages>