<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseLib" version="1.6.3.456" targetFramework="net472" />
  <package id="BaseLibS" version="1.6.3.456" targetFramework="net472" />
  <package id="PerseusApi" version="1.6.3.395" targetFramework="net472" />
  <package id="PluginInterop" version="1.6.3.2" targetFramework="net472" />
  <package id="SvgNet" version="1.0.8" targetFramework="net472" />
</packages>