{% extends "layout.html" %}
{% block body %}
<p>
working on job with id:{{ task_id }}.
</p>
<script>
// I should do this via session?!
var task_id = "{{ task_id }}"
function get_status() {
  $.getJSON('/status/'.concat(task_id),
    function(data) {
      console.log(data);
      if (data.state == 'PENDING') {
        setTimeout(get_status, 500);
      }
      else if (data.state == 'STARTED') {
        setTimeout(get_status, 500);
      }
      else if (data.state == 'SUCCESS') {
        window.location.replace('/get/'.concat(task_id))
      }
      else {
        alert(data.info)
	window.location.replace('/')
      }
    })
}
get_status()
</script>
{% endblock %}
